body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 100vh;
  font-family: Montserrat;
}

/* sidebar */

.sidebar {
  background-color: #198ee7;
  color: white;
}

.logo {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  padding-left: 0.7rem;
  cursor: pointer;
}

.logo img {
  width: 2.4rem;
  height: 2.4rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

.sidebar-options {
  display: flex;
  font-size: 0.95rem;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-options img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 14px;
}

.sidebar-options h3 {
  margin: 0;
  font-weight: 100;
}

ul li {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  cursor: pointer;
  padding-left: 0.7rem;
  transition: 0.2s;
}

ul li:hover {
  background-color: #0c7cd272;
}

.second-options {
  margin-top: 5rem;
}

/* main-side */

.main-side {
  background-color: rgb(210, 213, 216);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr;
}

.topbar {
  background-color: whitesmoke;
  box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.288);
}

.top-part {
  height: 45%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  justify-content: space-between;
  padding-right: 3rem;
}

#profile {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 4px;
  margin-right: 15px;
}

.top-part img {
  width: 1.7rem;
  margin-right: 0.8rem;
}

.top-part input {
  width: max(17rem, 30vw);
  background-color: #e3e3e3;
  border: solid 0.3rem #e3e3e3;
  border-radius: 10px;
  height: 1rem;
  outline-width: 0;
  padding-right: 1rem;
  font-family: Montserrat;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.right h3 {
  font-size: 1rem;
}

.bottom-part {
  height: 55%;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  padding-right: 3rem;
}

#profilesecond {
  width: 3.4rem;
  height: 3.4rem;
  padding-right: 1rem;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting h3,
p {
  margin: 0;
}
.greeting p {
  font-size: 0.95rem;
}

.greeting h3 {
  font-size: 1.2rem;
}

.buttons {
  margin-left: auto;
  align-self: center;
  display: flex;
}

.buttons button {
  width: 4.7rem;
  height: 1.8rem;
  background-color: #198ee7;
  border-radius: 14px;
  border: 0;
  color: whitesmoke;
  font-family: Montserrat;
  margin-left: 10px;
  transition: 0.2s;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #107ed2;
}

/* container */
.container {
  display: grid;
  grid-template-columns: 1fr 17rem;
  overflow-y: auto;
}

.titlecenter {
  display: flex;
  height: 3.4rem;
  align-items: flex-end;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center h4 {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 13px;
}

.right-bar {
  height: calc(100% - 8rem);
}

.post-grid-container {
  width: 100%;
  height: calc(100% - 3.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, calc(25rem + 8px));
  gap: 1.4rem;
  justify-content: center;
}

.post {
  width: 25rem;
  height: 14rem;
  background-color: white;
  border-left: solid 8px rgb(255, 191, 0);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.post-text {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1rem;
  padding-right: 2rem;
  height: 10rem;
}

.post-text h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.05rem;
}
.post-text p {
  margin: 0;
  color: rgb(91, 91, 91);
  font-size: 0.95rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

.icons img {
  width: 1.7rem;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.icons img:hover {
  opacity: 0.7;
}

.icons {
  align-self: flex-end;
}

.announcements {
  background-color: whitesmoke;
  width: 90%;
  height: 15rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 8px;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
}

.trending {
  background-color: whitesmoke;
  width: 90%;
  height: 17rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-left: 8px;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
}

.announcement {
  width: 13rem;
  margin: 0;
}
.announcement h5 {
  margin: 0;
}
.announcement p {
  margin: 0;
  font-size: 0.8rem;
}

.trend {
  width: 13rem;
  margin: 0;
}
.trend h5 {
  margin: 0;
}
.trend p {
  margin: 0;
  font-size: 0.8rem;
}
